body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    font-family: "Roboto";
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.move-button {
    width: 80px;
    height: 80px;
    font-size: 13pt;
    margin: 2px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.move-button:hover {
    opacity: 0.90;
}

.move-button:active {
    opacity: 0.8;
}

.break-buttons {
    display: flex;
    border: solid;
    width: 80px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(223, 223, 223);
}

.break-button {
    font-size: 12pt;
    width: 50px;
    border: none;
    background-color: white;
    padding: 0px;
    cursor: pointer;
}

.break-button:hover {
    background-color: rgb(231, 231, 231);
}

.break-button.left {
    border-radius: 4px 0px 0px 4px;
}

.break-button.right {
    border-radius: 0px 4px 4px 0px;
}

.height-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-size: 20pt;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.height-container .heights .height {
    margin: 0px;
    padding: 0px;
}

.height-dummy {
    display: block;
    width: 36px;
    height: 36px;
}

.height-indicator {
    position: absolute;
    right: 12px;
    top: 10px;
}


.inventory-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.3);
}

.inventory-container .title {
    align-self: center;
    font-size: 15pt;
    margin: 5px;
}

.inventory-container .inventory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
}

.inventory .item {
    position: relative;
}

.inventory .item .block {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
}

.inventory .item .count {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(10px, 5vw, 20px); /* Passt sich an */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.8);
}
